#header {
  height: 100px;
  padding: 40px 0 0 50px;
}
.site-title img {
  max-width: 100px;
  vertical-align: bottom;
}
.hamburger {
  width: 100px;
  height: 100px;
  background-color: orangered;
  position: fixed;
  top: 0;
  right: 0;
}
.hamburger span {
  width: 55px;
  height: 2px;
  background: rgb(241, 235, 235);
  position: absolute;
  left: 20px;
  transition: 0.3s ease-in-out;

}
.hamburger span:nth-child(1){
  top: 35px;
}
.hamburger span:nth-child(2){
  top: 50px;
}
.hamburger span:nth-child(3){
  bottom: 35px;
}
